<footer class="bookfooter container-fluid d-flex justify-content-center">

    <section class="container">

        <div class="row">

            <div class="bookfooter__firstfoot d-flex flex-sm-column flex-md-row justify-content-between my-5">
    
                <div id="footerlogo" class="bookfooter__sections col-sm-4">
                    <a class="logo">BOOK-KEEPER™</a>
                </div>
                
        
                <div class="bookfooter__sections col-md-4">
                    <ul class="bookfooter__links p-0">
                        <p class="fw-bold">About</p>
                        <li class="mb-3"><a class="text-decoration-none" href="#about">About Book-Keeper™</a></li>
                        <li class="mb-3"><a class="text-decoration-none" href="#reviews">Reviews</a></li>
                    </ul>
                </div>
        
                <div class="bookfooter__sections col-md-4">
                    <ul class="bookfooter__links p-0">
                        <p class="fw-bold">Support</p>
                        <li class="mb-3 "><a class="text-decoration-none" href="#">Help Center</a></li>
                        <li class="mb-3"><a class="text-decoration-none" href="#">Contact us</a></li>
                        <li class="mb-3"><a class="text-decoration-none" href="#">Privacy policy</a></li>
                        <li class="mb-3"><a class="text-decoration-none" href="#">Terms of service</a></li>
                    </ul>
                </div>

            </div>
    
            <div class="bookfooter__subsec container d-flex flex-md-row flex-sm-column justify-content-between align-items-center mb-4">
    
                <div class="container p-0 text-lg-left">
                    <a class="text-decoration-none logo me-3" href="https://github.com/manlikleo" class="logo "><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/olaotan-lawal-64382a16a/" class="logo text-decoration-none"><i class="fab fa-linkedin-in"></i></a>
                </div>
    
               
                <span class="bookfooter__text m-0 text-md-end">© 2020 Book-Keeper incorporated</span>
               
    
    
            </div>
              
        </div>

        
    </section>

   
</footer>