
<header id="topnav" class="navbar  navbar-expand-md navbar-dark bd-navbar" role="navigation">

    <nav class="container-xxl flex-wrap flex-md-nowrap flex-row ms-md-auto" aria-label="Main navigation">
        <div class="nav-link">
            <h6 class="notification"> Join Book-Keeper™ and meet with the best readers in the world in sharing ideas and tips in our exclusive readers list</h6>
        </div>
     
        <div class="nav-link">
            <a class="btn btn-join d-lg-inline-block my-2 my-md-0 ms-md-3" href="">Join Here</a>
        </div>
    </nav>

</header>


<nav id="secnavbar" class="sec-navbar navbar navbar-expand-md navbar-dark">


  <div id="scroll-nav" class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">

        <a  href="/" class="nav-link logo">BOOK-KEEPER™</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>

        </button>
        
        <hr class="d-md-none text-white-50">

        <div class="collapse navbar-collapse" id="menubar" style>

                <ul class="navbar-nav flex-row flex-wrap ms-md-auto"> 

                    <li class="nav-item col-6 col-md-auto">
                        <a id="Nytimes" class="nav-link p-2" href="#booksec">NY Times Bestsellers</a>
                    </li>

                    <li class="nav-item col-6 col-md-auto ms-3">
                        <a class="login-btn nav-link p-2" href="/users/signup">Login</a>
                    </li>
                </ul>

        </div>

  </div>

</nav>
