
<% if(success_msg!= '') { %>
    <p class="successnotification errornotification"><%=success_msg %> </p>
  <% } %>

<% if(error_msg != '') { %>
  <p class="errornotification"><%= error_msg %></p> 
  <% } %> 
<% if(error != '') { %>
   <p class="errornotification"><%= error %> </p>
  <% } %> 