<main class="dashboard">
    <div class="dashnav">

        <div class="dashnav__wrapper">

            <div class="dashnav__logocon">
                <a class="dashnav__logo" href="/">BOOK-KEEPER™</a>
             </div>
             <div class="dashnav__menu">
                <a class="dashnav__links" href="#"><i class="fas fa-shield-alt"></i> Book Vault</a>
                <a class="dashnav__links"  href="#"><i class="far fa-user"></i> Account</a>
                <a class="dashnav__links"  href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
             </div>

        </div>    
       
    </div>

    <div class="book">

        <div class="book__wrapper">

            <div class="book__content mb-5">
                <div class="book__titlecon mb-2">
                    <p class="book__title"><span>Add Books</span></p>
                </div>
                   
               <form  id="bookform" class="row book__form d-flex justify-content-center align-items-center">

                    <div class="book__input col me-4">
                        <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Book Title">
                        <div id="emailHelp " class="form-text"></div>
                    </div>

                    <div class="book__input col me-4">
                        <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="author" name="author" aria-describedby="emailHelp" placeholder="Author">
                        <div id="emailHelp" class="form-text visually-hidden"></div>
                    </div>

                    <div class="book__input col me-4">
                        <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="recom" name="recom" aria-describedby="emailHelp" placeholder="Recommended By">
                        <div id="emailHelp" class="form-text visually-hidden"></div>
                    </div>

                   <div class="book__btnwrapper col">
                    <button class="book__btn"><i class="fas fa-plus"></i></button>  
                   </div>
                       
               </form>
            </div>

            <div class="book__listcont">

                <div class="book__titlecon mb-4 d-flex justify-content-between align-items-center">
                    <p class="book__title m-0"><span>Your List</span></p>
                    <div class="book__pagination">
                        <a class="primary book__pagebtn py-2 px-4 rounded-3 me-3" href="#">Prev</a>
                        <a class="primary book__pagebtn py-2 px-4 rounded-3" href="#">Next</a>
                    </div>
                   
                </div>

                <div id="bookwrapper" class="book__listwrapper d-flex flex-wrap align-items-center justify-content-between">

                    <div class="book__bookitem my-3 d-flex align-items-center justify-content-between p-3 ">

                        <div class="book__bookcontent">
                            <p class="book__text m-0 fw-bold"><span>Book Title: The Hill We Climb: An Inaugural Poem for the Country</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Author : Amanda Gorman</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Recommended By: Bestselling List</span></p>
                        </div>

                        <div class="book__bookaction d-flex flex-column align-items-center">
                            <a href="#"class="book__cta py-2 px-4 mb-3 rounded-3">Reviews</a>
                            <a href="#" class="book__cta p-2 rounded-3">Buy Online</a>
                        </div>
                    </div>

                    <div class="book__bookitem my-3 d-flex align-items-center justify-content-between p-3">

                        <div class="book__bookcontent">
                            <p class="book__text m-0 fw-bold"><span>Book Title: The Hill We Climb: An Inaugural Poem for the Country</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Author : Amanda Gorman</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Recommended By: Bestselling List</span></p>
                        </div>

                        <div class="book__bookaction d-flex flex-column align-items-center">
                            <a href="#"class="book__cta py-2 px-4 mb-3 rounded-3">Reviews</a>
                            <a href="#" class="book__cta p-2 rounded-3">Buy Online</a>
                        </div>
                    </div>
                    <div class="book__bookitem my-3 d-flex align-items-center justify-content-between p-3">

                        <div class="book__bookcontent">
                            <p class="book__text m-0 fw-bold"><span>Book Title: The Hill We Climb: An Inaugural Poem for the Country</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Author : Amanda Gorman</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Recommended By: Bestselling List</span></p>
                        </div>

                        <div class="book__bookaction d-flex flex-column align-items-center">
                            <a href="#"class="book__cta py-2 px-4 mb-3 rounded-3">Reviews</a>
                            <a href="#" class="book__cta p-2 rounded-3">Buy Online</a>
                        </div>
                    </div>
                    <div class="book__bookitem my-3 d-flex align-items-center justify-content-between p-3">

                        <div class="book__bookcontent">
                            <p class="book__text m-0 fw-bold"><span>Book Title: The Hill We Climb: An Inaugural Poem for the Country</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Author : Amanda Gorman</span></p>
                            <hr class="book__divider">
                            <p class="book__text m-0"><span>Recommended By: Bestselling List</span></p>
                        </div>

                        <div class="book__bookaction d-flex flex-column align-items-center">
                            <a href="#"class="book__cta py-2 px-4 mb-3 rounded-3">Reviews</a>
                            <a href="#" class="book__cta p-2 rounded-3">Buy Online</a>
                        </div>
                    </div>
                    

                </div>

            </div>



        </div>    
       
    </div>
 </main>
   
