

   <section class="container-fluid d-flex hero justify-content-center align-items-center">
        <div class="hero__content d-flex justify-content-center align-items-center flex-column">
            <h2 class="hero__title mb-4">Keep Your reading list updated</h2>
            <p class="hero__text mb-4">Join millions of readers in the world who don’t miss any detail about learning something new </p>
            <a class="btn btn-lg bok-btn" href="#">Sign Up Now</a>
        </div>
   </section>

    <section id="booksec" class="container-xxl d-flex  align-items-center flex-column">
       
       <div  class="container d-flex flex-column flex-lg-row justify-content-between mb-4">
            <h4 class="fontplay">Top 10 Best Selling Books to add to your <span class="Primarycolor">Book-keeper</span></h4>
           <a class="text-link" id="nextbtn" href="#">
               <span class="me-3">All</span>
               <i class="fas fa-arrow-right"></i>
            </a>
       </div>

        <div id="card-wrapper" class="container wrapper d-flex">
            <div id="bookwrapper" class="row cardcontainer py-2 main-carousel">
                <div class="btnposition bookbody d-flex justify-content-center align-items-center static-banner carousel-cell">
                    <button class="btn" id="viewall">View All</button>
                </div>
            </div>
        </div>       
   </section>

   <section id="about" class="container-xxl d-flex  align-items-center justify-content-center flex-column py-5">

        <div class="container w-30 align-items-center text-center works my-5">
            <h2 class="fw-bold works__title">How Book-Keeper Works</h2>
            <h6>Be among the top 1% learning everyday and making the world a better place</h6>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-sm-4">

                    <div class="card border-0">

                        <div class="card-body">

                            <div class="works__img mb-3">
                                <img class="works__pic" src="../assets/Book-keeper/mouse-pointer.svg" alt="first step">
                            </div>
    
                            <h5 class="works__cardtitle card-title fw-bold">Sign Up in 5 Minutes</h5>
                            <p class=" works__cardtext ncard-text">It takes approximately 5 minutes to join <span class="fw-bold Primarycolor"> Book-reader™</span>, you can use your email or other social media accounts to be a member.</p>

                        </div>

                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="card border-0">

                        <div class="card-body">

                            <div class="works__img mb-3">
                                <img class="works__pic" src="../assets/Book-keeper/mouse-pointer.svg" alt="first step">
                            </div>
    
                            <h5 class="works__cardtitle card-title fw-bold">Sign Up in 5 Minutes</h5>
                            <p class=" works__cardtext ncard-text">It takes approximately 5 minutes to join <span class="fw-bold Primarycolor"> Book-reader™</span>, you can use your email or other social media accounts to be a member.</p>

                        </div>

                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="card border-0">

                        <div class="card-body">

                            <div class="works__img mb-3">
                                <img class="works__pic" src="../assets/Book-keeper/mouse-pointer.svg" alt="first step">
                            </div>
    
                            <h5 class="works__cardtitle card-title fw-bold">Sign Up in 5 Minutes</h5>
                            <p class=" works__cardtext ncard-text">It takes approximately 5 minutes to join <span class="fw-bold Primarycolor"> Book-reader™</span>, you can use your email or other social media accounts to be a member.</p>

                        </div>

                    </div>

                </div>

                

            </div>
            
        </div>

   </section>

   <section class="container-xxl d-flex  align-items-center justify-content-center flex-column py-5">

        <div class="container d-flex align-items-center justify-content-center">
            <button class="works__cta btn py-2 px-4">Sign Up Now</button>
        </div>

   </section>

   <section id="reviews" class="container-xxl d-flex  align-items-center justify-content-center flex-column py-5">

            <div class="container w-30 align-items-center text-center my-5">
                <h2 class="fw-bold works__rewtitle">What <span class="Primarycolor">Book-Keeper</span> users are saying</h2>
            </div>

            <div class="container my-1">

                <div id="review-carousel" class="row cardcontainer py-2 review-carousel">
                    
    
                    <div class="col-sm-6 col-lg-4 review p-0 carousel-cell">
    
                        <div class="card cell-style border-0">
    
                            <div class="card-body">

                                <div class="container d-flex p-0">

                                    <div class="review__img">
                                        <img class="review__pic" src="../assets/Book-keeper/review1.jpg" alt="first review">
                                    </div>
                                    
                                    <div class="container p-0">
                                        <div class="container ">
                                            <p class="card-title review__name fw-bold">Yifei Chen</p>
                                            <p class="card-subtitle review__location">Seoul, South Korea | April 2019</p>
                                            <p class="mt-2">
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="far fa-star review__checked"></span>
                                            </p>
                                        </div>
                                        
                                        <div class="container">
                                            <p class="review__text card-text">Using Book-keeper helped me keep track of my reading habit , it provides you the best book in the world also gives you reviews about books you added</p>
                                        </div>
                                       
                                    </div>
                                
                                </div>

                            </div>
    
                        </div>
    
                    </div>

                    <div class="col-sm-6 col-lg-4 review p-0 carousel-cell">
    
                        <div class="card cell-style border-0">
    
                            <div class="card-body">

                                <div class="container d-flex p-0">

                                    <div class="review__img">
                                        <img class="review__pic" src="../assets/Book-keeper/review1.jpg" alt="first review">
                                    </div>
                                    
                                    <div class="container p-0">
                                        <div class="container ">
                                            <p class="card-title review__name fw-bold">Yifei Chen</p>
                                            <p class="card-subtitle review__location">Seoul, South Korea | April 2019</p>
                                            <p class="mt-2">
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="far fa-star review__checked"></span>
                                            </p>
                                        </div>
                                        
                                        <div class="container">
                                            <p class="review__text card-text">Using Book-keeper helped me keep track of my reading habit , it provides you the best book in the world also gives you reviews about books you added</p>
                                        </div>
                                       
                                    </div>
                                
                                </div>

                            </div>
    
                        </div>
    
                    </div>

                    <div class="col-sm-6 col-lg-4 review p-0 carousel-cell">
    
                        <div class="card cell-style border-0">
    
                            <div class="card-body">

                                <div class="container d-flex p-0">

                                    <div class="review__img">
                                        <img class="review__pic" src="../assets/Book-keeper/review1.jpg" alt="first review">
                                    </div>
                                    
                                    <div class="container p-0">
                                        <div class="container ">
                                            <p class="card-title review__name fw-bold">Yifei Chen</p>
                                            <p class="card-subtitle review__location">Seoul, South Korea | April 2019</p>
                                            <p class="mt-2">
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="far fa-star review__checked"></span>
                                            </p>
                                        </div>
                                        
                                        <div class="container">
                                            <p class="review__text card-text">Using Book-keeper helped me keep track of my reading habit , it provides you the best book in the world also gives you reviews about books you added</p>
                                        </div>
                                       
                                    </div>
                                
                                </div>

                            </div>
    
                        </div>
    
                    </div>

                    <div class="col-sm-6 col-lg-4 review p-0 carousel-cell">
    
                        <div class="card cell-style border-0">
    
                            <div class="card-body">

                                <div class="container d-flex p-0">

                                    <div class="review__img">
                                        <img class="review__pic" src="../assets/Book-keeper/review1.jpg" alt="first review">
                                    </div>
                                    
                                    <div class="container p-0">
                                        <div class="container ">
                                            <p class="card-title review__name fw-bold">Yifei Chen</p>
                                            <p class="card-subtitle review__location">Seoul, South Korea | April 2019</p>
                                            <p class="mt-2">
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="far fa-star review__checked"></span>
                                            </p>
                                        </div>
                                        
                                        <div class="container">
                                            <p class="review__text card-text">Using Book-keeper helped me keep track of my reading habit , it provides you the best book in the world also gives you reviews about books you added</p>
                                        </div>
                                       
                                    </div>
                                
                                </div>

                            </div>
    
                        </div>
    
                    </div>

                    <div class="col-sm-6 col-lg-4 review p-0 carousel-cell">
    
                        <div class="card cell-style border-0">
    
                            <div class="card-body">

                                <div class="container d-flex p-0">

                                    <div class="review__img">
                                        <img class="review__pic" src="../assets/Book-keeper/review1.jpg" alt="first review">
                                    </div>
                                    
                                    <div class="container p-0">
                                        <div class="container ">
                                            <p class="card-title review__name fw-bold">Yifei Chen</p>
                                            <p class="card-subtitle review__location">Seoul, South Korea | April 2019</p>
                                            <p class="mt-2">
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="far fa-star review__checked"></span>
                                            </p>
                                        </div>
                                        
                                        <div class="container">
                                            <p class="review__text card-text">Using Book-keeper helped me keep track of my reading habit , it provides you the best book in the world also gives you reviews about books you added</p>
                                        </div>
                                       
                                    </div>
                                
                                </div>

                            </div>
    
                        </div>
    
                    </div>

                    <div class="col-sm-6 col-lg-4 review p-0 carousel-cell">
    
                        <div class="card cell-style border-0">
    
                            <div class="card-body">

                                <div class="container d-flex p-0">

                                    <div class="review__img">
                                        <img class="review__pic" src="../assets/Book-keeper/review1.jpg" alt="first review">
                                    </div>
                                    
                                    <div class="container p-0">
                                        <div class="container ">
                                            <p class="card-title review__name fw-bold">Yifei Chen</p>
                                            <p class="card-subtitle review__location">Seoul, South Korea | April 2019</p>
                                            <p class="mt-2">
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="fa fa-star review__checked"></span>
                                                <span class="far fa-star review__checked"></span>
                                            </p>
                                        </div>
                                        
                                        <div class="container">
                                            <p class="review__text card-text">Using Book-keeper helped me keep track of my reading habit , it provides you the best book in the world also gives you reviews about books you added</p>
                                        </div>
                                       
                                    </div>
                                
                                </div>

                            </div>
    
                        </div>
    
                    </div>

                    
                    
         
                </div>
                
            </div>
       
   </section>


