<%- include('./partials/header.ejs') %>
<main>
   <section class="container-fluid d-flex hero justify-content-center align-items-center">
        <div class="hero__content d-flex justify-content-center align-items-center flex-column">
            <h2 class="hero__title mb-4">Keep Your reading list updated</h2>
            <p class="hero__text mb-4">Join millions of readers in the world who don’t miss any detail about learning something new </p>
            <a class="btn btn-lg bok-btn" href="#">Sign Up Now</a>
        </div>
   </section>

    <section id="booksec" class="container-xxl d-flex  align-items-center flex-column">
       
       <div  class="container d-flex flex-column flex-lg-row justify-content-between mb-4">
            <h4 class="fontplay"> Add New York Times BestSellers to your <span class="Primarycolor">Book-keeper</span></h4>
           <a class="text-link" id="nextbtn" href="#">
               <span class="me-3">All</span>
               <i class="fas fa-arrow-right"></i>
            </a>
       </div>

        <div id="card-wrapper" class="container wrapper d-flex">
            <div id="bookwrapper" class="row cardcontainer py-2 main-carousel">
                <div class="btnposition bookbody d-flex justify-content-center align-items-center static-banner carousel-cell">
                    <button class="btn" id="viewall">View All</button>
                </div>
            </div>
        </div> 

   </section>

   <section id="about" class="container-xxl d-flex  align-items-center justify-content-center flex-column py-5">

        <div class="container w-30 align-items-center text-center works my-5">
            <h2 class="fw-bold works__title">How Book-Keeper Works</h2>
            <h6>Be among the top 1% learning everyday and making the world a better place</h6>
        </div>

        <div class="container">

            <div id="workswrapper" class="row"></div>
            
        </div>

   </section>

   <section class="container-xxl d-flex  align-items-center justify-content-center flex-column py-5">

        <div class="container d-flex align-items-center justify-content-center">
            <button class="works__cta btn py-2 px-4">Sign Up Now</button>
        </div>

   </section>

   <section id="reviews" class="container-xxl d-flex  align-items-center justify-content-center flex-column py-5">

            <div class="container w-30 align-items-center text-center my-5">
                <h2 class="fw-bold works__rewtitle">What <span class="Primarycolor">Book-Keeper</span> users are saying</h2>
            </div>

            <div class="container my-1">

                <div id="review-carousel" class="row cardcontainer py-2 review-carousel"></div>
                
            </div>
       
   </section>

</main>
<%- include('./partials/footer.ejs') %>

