<body>
   <section class="container-fluid d-flex hero justify-content-center align-items-center">
        <div class="hero__content d-flex justify-content-center align-items-center flex-column">
            <h2 class="hero__title mb-3">Keep Your reading list updated</h2>
            <p class="hero__text mb-3">Join millions of readers in the world who don’t miss any detail about learning something new </p>
            <a class="btn btn-lg bok-btn" href="#">Sign Up Now</a>
        </div>
   </section>

   <section  class="container-xxl d-flex  align-items-center flex-column py-5">
       
       <div class="container d-flex flex-column flex-lg-row justify-content-between mb-4">
            <h4 class="fontplay">Top 10 Best Selling Books to add to your <span class="Primarycolor">Book-keeper</span></h4>
           <a class="text-link" id="nextbtn" href="#"><span class="me-3">All</span><i class="fas fa-arrow-right"></i></a>
       </div>

        <div id="container" class="container">

    
            <div class="row cardcontainer py-2 glider">

                <div class="bookbody">
                    <div class="card bookcard">
                        <div class="card-img-top position-relative">
                                <img src="../assets/Book-keeper/merlin_182628279_659e4566-75fd-4237-b819-43bb0aa82804-articleLarge.jpeg" class="card-pic img-thumbnail p-0 border-0" src="" alt="card image">
                                <div class="placeholder d-flex justify-content-center align-items-center w-100 h-100">
                                    <a class="btn bok-btn btn-sm"id="homeadd" href="#">Add to Books</a>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="container d-flex justify-content-between flex-column flex-lg-row p-0">
                                <p class="card-title fw-bold booktitle">Title:The Hill we Climb</p>
                                <p class="card-title fw-bold booktitle Primarycolor">$12.99</p>
                            </div>
                            <p class="card-text bookauthor">Author: Amanda Gorman</p>
                            <p class="card-text bookpara">Gorman’s poet delivery at the inguration of the 49th president of the united state captivated the nation and brought hope to viewers around the globe.</p>
                        </div>
                    </div>
                </div>
                <div class="bookbody">
                    <div class="card bookcard">
                        <div class="card-img-top position-relative">
                                <img src="../assets/Book-keeper/merlin_182628279_659e4566-75fd-4237-b819-43bb0aa82804-articleLarge.jpeg" class="card-pic img-thumbnail p-0 border-0" src="" alt="card image">
                                <div class="placeholder d-flex justify-content-center align-items-center w-100 h-100">
                                    <a class="btn bok-btn btn-sm"id="homeadd" href="#">Add to Books</a>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="container d-flex justify-content-between flex-column flex-lg-row p-0">
                                <p class="card-title fw-bold booktitle">Title:The Hill we Climb</p>
                                <p class="card-title fw-bold booktitle Primarycolor">$12.99</p>
                            </div>
                            <p class="card-text bookauthor">Author: Amanda Gorman</p>
                            <p class="card-text bookpara">Gorman’s poet delivery at the inguration of the 49th president of the united state captivated the nation and brought hope to viewers around the globe.</p>
                        </div>
                    </div>
                </div>
                <div class="bookbody">
                    <div class="card bookcard">
                        <div class="card-img-top position-relative">
                                <img src="../assets/Book-keeper/merlin_182628279_659e4566-75fd-4237-b819-43bb0aa82804-articleLarge.jpeg" class="card-pic img-thumbnail p-0 border-0" src="" alt="card image">
                                <div class="placeholder d-flex justify-content-center align-items-center w-100 h-100">
                                    <a class="btn bok-btn btn-sm"id="homeadd" href="#">Add to Books</a>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="container d-flex justify-content-between flex-column flex-lg-row p-0">
                                <p class="card-title fw-bold booktitle">Title:The Hill we Climb</p>
                                <p class="card-title fw-bold booktitle Primarycolor">$12.99</p>
                            </div>
                            <p class="card-text bookauthor">Author: Amanda Gorman</p>
                            <p class="card-text bookpara">Gorman’s poet delivery at the inguration of the 49th president of the united state captivated the nation and brought hope to viewers around the globe.</p>
                        </div>
                    </div>
                </div>
                <div class="bookbody">
                    <div class="card bookcard">
                        <div class="card-img-top position-relative">
                                <img src="../assets/Book-keeper/merlin_182628279_659e4566-75fd-4237-b819-43bb0aa82804-articleLarge.jpeg" class="card-pic img-thumbnail p-0 border-0" src="" alt="card image">
                                <div class="placeholder d-flex justify-content-center align-items-center w-100 h-100">
                                    <a class="btn bok-btn btn-sm"id="homeadd" href="#">Add to Books</a>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="container d-flex justify-content-between flex-column flex-lg-row p-0">
                                <p class="card-title fw-bold booktitle">Title:The Hill we Climb</p>
                                <p class="card-title fw-bold booktitle Primarycolor">$12.99</p>
                            </div>
                            <p class="card-text bookauthor">Author: Amanda Gorman</p>
                            <p class="card-text bookpara">Gorman’s poet delivery at the inguration of the 49th president of the united state captivated the nation and brought hope to viewers around the globe.</p>
                        </div>
                    </div>
                </div>
                <div class="bookbody">
                    <div class="card bookcard">
                        <div class="card-img-top position-relative">
                                <img src="../assets/Book-keeper/merlin_182628279_659e4566-75fd-4237-b819-43bb0aa82804-articleLarge.jpeg" class="card-pic img-thumbnail p-0 border-0" src="" alt="card image">
                                <div class="placeholder d-flex justify-content-center align-items-center w-100 h-100">
                                    <a class="btn bok-btn btn-sm"id="homeadd" href="#">Add to Books</a>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="container d-flex justify-content-between flex-column flex-lg-row p-0">
                                <p class="card-title fw-bold booktitle">Title:The Hill we Climb</p>
                                <p class="card-title fw-bold booktitle Primarycolor">$12.99</p>
                            </div>
                            <p class="card-text bookauthor">Author: Amanda Gorman</p>
                            <p class="card-text bookpara">Gorman’s poet delivery at the inguration of the 49th president of the united state captivated the nation and brought hope to viewers around the globe.</p>
                        </div>
                    </div>
                </div>
                <div class="bookbody">
                    <div class="card bookcard">
                        <div class="card-img-top position-relative">
                                <img src="../assets/Book-keeper/merlin_182628279_659e4566-75fd-4237-b819-43bb0aa82804-articleLarge.jpeg" class="card-pic img-thumbnail p-0 border-0" src="" alt="card image">
                                <div class="placeholder d-flex justify-content-center align-items-center w-100 h-100">
                                    <a class="btn bok-btn btn-sm"id="homeadd" href="#">Add to Books</a>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="container d-flex justify-content-between flex-column flex-lg-row p-0">
                                <p class="card-title fw-bold booktitle">Title:The Hill we Climb</p>
                                <p class="card-title fw-bold booktitle Primarycolor">$12.99</p>
                            </div>
                            <p class="card-text bookauthor">Author: Amanda Gorman</p>
                            <p class="card-text bookpara">Gorman’s poet delivery at the inguration of the 49th president of the united state captivated the nation and brought hope to viewers around the globe.</p>
                        </div>
                    </div>
                </div>

                

                
                <div class="bookbody d-flex justify-content-center align-items-center">
                    <button class="btn" id="viewall">View All</button>
                </div>
            

            </div>

        </div>

            
   </section>
</body>
