
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/card";


$primary: #0B959E;
$book-keeperbg: #0B959E;
$seccolor : #0b949ee7;
$hovercolor:#093033cb;
$neutral: #fff;


$navbar-dark-brand-color:$book-keeperbg;
$navbar-dark-color:$book-keeperbg;
$navbar-dark-brand-hover-color:$book-keeperbg;

body{
    position: relative;
}



.Primarycolor{
    color: $book-keeperbg;
}

.bd-navbar{
    padding: .4rem 0;
    background-color: $book-keeperbg;
}

.notification{
   color:$neutral;
   margin: 0 !important;
   font-size: .9rem;
}

.btn-join{
    font-weight: 300;
    color: $neutral !important;
    border-color: $neutral !important;
    &:hover{
        color: #FDFDFD;
    }
}

.sec-navbar{
    padding: .6rem 0;
    background-color:$neutral;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position:sticky !important;
    top: 0;
    z-index:4;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.logo{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: $book-keeperbg; 
    padding: .5rem 0;

    &:hover{
        color: $hovercolor;
    }
}



.navbar-dark .navbar-nav .nav-link{
    color: $book-keeperbg;
    &:hover,&:focus{
        color: $hovercolor !important;
    }
    
}

.navbar-dark .navbar-toggler {
    color: $book-keeperbg;
    border-color: $book-keeperbg;
    padding: 2px 4px;
    position: absolute;
    right: 1pc;
    top: 1pc;


    &:focus{
        border: 0px solid $book-keeperbg;
    }
  
}

.hero{
    background-image: url("../Bookkeeper/snow-4726119_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm){
        height: 50vh;
    }
    @include media-breakpoint-up(md){
        height: 75vh;
    }
    @include media-breakpoint-up(xxl){
        height: 70vh;
    }

    &__content{
        width: 60%;
        text-align: center;

        @include media-breakpoint-down(sm){
            width: 100%;
        }
    }

    &__title{
        font-size: 3.5rem;
        font-weight: 650;
        color: $book-keeperbg;

        @include media-breakpoint-up(xl){
            font-size: 3rem;
        }

        @include media-breakpoint-down(sm){
            font-size: 2rem;
        }
        @include media-breakpoint-down(lg){
            font-size: 1.9rem;
        }

    }

    &__text{
        font-size: 1.2rem;
        font-weight: 400;
        color: $book-keeperbg;

        @include media-breakpoint-down(sm){
            font-size: .8rem;
        }
        @include media-breakpoint-down(lg){
            font-size: 1rem;
        }
    }
}


.bok-btn{
    background-color: $book-keeperbg;
    color: $neutral;
    font-weight: 400;

    &:hover{
        color: $neutral;
        background-color: $hovercolor;
    }
}

.fontplay{

    @include media-breakpoint-down(sm){
        font-size: 1rem;
    }

}

.text-link{
    text-decoration: none;
    color: $hovercolor;
    &:hover{
        color: $book-keeperbg;
    }
}

.wrapper{
    overflow-x:hidden;
    height: 100%;
    @include media-breakpoint-down(sm){
        margin-left: 1rem;
    }
    
}

.cardcontainer{
    flex-wrap:nowrap;
    width: 100%;
}

.bookbody{
    display: flex !important;
    width: 23% !important;

    @include media-breakpoint-down(sm){
        width: 84% !important;
        max-height: 324px !important;
        height: 324px !important;
    }
    @include media-breakpoint-up(md){
        width: 40% !important;
        max-height: 324px;
        height: 324px;
        
    }
    @include media-breakpoint-up(lg){
        width: 23% !important;
        height: 330px !important;
        max-height: 330px !important;
    }
   

}

.bookauthor{
    font-size: .8rem;
    margin-bottom: .5rem;
}

.bookpara{
    font-size: .5rem;
}
.card-pic{
    width: 100%;
    height: 200px;
    max-width: 400px;
    object-fit: cover;
    border-radius: .25rem .25rem 0 0px;
    -webkit-border-radius: .25rem .25rem 0 0px;
    -moz-border-radius: .25rem .25rem 0 0px;
    -ms-border-radius: .25rem .25rem 0 0px;
    -o-border-radius: .25rem .25rem 0 0px;
    border: none;

    
}

.booktitle{
    font-size: .8rem;

    @include media-breakpoint-down(sm){
        font-size: .7rem;
    }

}

.placeholder{
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    position:absolute;
    transform:translate(-50%,-50%);
}

.bookcard{

   @include media-breakpoint-down(sm){

        .placeholder{
            opacity: 1;
            background-color: #0b949e77;

            a{
                padding: .65rem 1rem;
                background: #fff;
                color: #0B959E;
            }
        }
        // .card-pic{
        //     opacity: 0.5;
        // }

    }
    
    &:hover{
      .card-pic{
            opacity: 0.3;
        }
        .placeholder{
            opacity: 1;
            background-color: #0b949e77;
        }
    }
}

#viewall{
    text-decoration: none;
    padding: .8rem 2rem;
    background: $book-keeperbg;
    color: $neutral;

}

.btnposition{
        top: 0pc;
}

.carousel-cell{
    margin-right: 2rem;
}

.works{
    width: 50%;
    color: $book-keeperbg;

    @include media-breakpoint-down(sm){
        width: 100%;
    }

    &__text{
        font-size: 2rem;
    }

    &__img{
        width:3rem;
        height: 3rem; 
    }
    &__pic{
        width:100%;
        height: 100%;
    }

    &__cardtitle{
        color: $book-keeperbg;
    }

    &__cardtext{
        color: #706B6B;
    }
    &__cta{
        background-color: $book-keeperbg;
        color: $neutral;

        &:hover{
            background-color: $hovercolor;
            color: $neutral;
        }
    }
}

.review{

    color: #706B6B;

    &__img{
        max-height: 40px;
        max-width: 40px;
       
    }
    &__pic{
        @extend.works__pic;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        object-fit: cover;
    }

    &__location{
        font-size: .7rem;
    }

    &__checked{
        color: orange;
    }
    &__unchecked{
        color: transparent;
    }

    &__text{
        font-size: .7rem;
    }

}


/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
  }


  .cell-style{
    @include media-breakpoint-down(sm){
        width: 300px;
    }  
  }

  .bookfooter{
      background-color: #88d7dd44;
      margin-top: 5rem;

      &__firstfoot{
          margin: 4rem 0;

      }
      &__links{
          list-style: none;

          li a{
              color: #706B6B; 
          }
      }

      &__sections{
          width: fit-content;
          @include media-breakpoint-down(lg){
             margin:0;
             margin-bottom: 2rem;
        } 
          @include media-breakpoint-up(xl){
            margin-right: 2rem;
        } 
       
         
      }

      &__text{
          width: 45%;
          font-size: .8rem;

          @include media-breakpoint-down(sm){
            width: 100%;
        }  
      }

      &__subsec{
            @include media-breakpoint-down(sm){
                text-align: center;
                flex-direction: column;
            } 
            @include media-breakpoint-down(md){
                text-align: center;
                flex-direction: column;
            } 
      }
  }

  #footerlogo{
    @include media-breakpoint-down(sm){
        display: none;
    } 
  }

  .scrollbag{
      background-color: $book-keeperbg;
      color: $neutral !important;

      .nav-link{
        color: $neutral !important; 
        &:hover{
            color: #FDFDFD !important;
        }

        }

    .navbar-toggler{
        color: $neutral;
        border-color: $neutral;
    }
  }

  #booksec{
      position: relative;
      padding: 5rem 0;
  }

  .navbar-dark .navbar-nav .nav-link.active{
    color: $book-keeperbg;
  }


  .flickity-slider{
      display: flex;
  }

  .primary{
      background-color: #0B959E;
      color: #FFF;
      text-decoration: none;

      &:hover{
          color: #FFF;
      }
  }



//   .placebook{
//       width: 23.5% !important;
//   }

  .placehold{
    height: 20px;
    background-color:#706B6B;
    opacity: 1;
    width: 100%;
    animation: fading 1.5s infinite;
    -webkit-animation: fading 1.5s infinite;
    }

.bookanim {
    animation: bookfade 1.5s infinite;
    -webkit-animation: bookfade 1.5s infinite;
}

.halfblock{
    max-width: 65%;
}
.parablock{
    height: 30px !important;
}

@keyframes fading {
    0%{
        opacity: .1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: .1;
    }
}



